.profileWrapper {
  display: flex;
  margin: 50px 0;
}

.profileInformation {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

.header {
  font-size: 28px;
}
