.form {
  max-width: 800px;
  margin: 20px 0;
}

.formItem input {
  border-radius: 4px;
}

.emailItem {
  margin-bottom: 0;
}

.formItem label::before {
  display: none !important;
}

.securityNote {
  margin: 0 0 24px 0;
  color: #808080;
}
