.hidden {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.button {
  width: 120px;
  height: 50px;
  font-size: 20px;
  margin-right: 10px;
}

.form {
  margin: 20px 0;
}

.formItem label,
.formItem input {
  font-size: 20px !important;
}
